html, body {
  height: 100%;
  background-color: white;
  background-image: url('../img/debut_light.png');
  background-repeat: repeat;
  z-index: 0;
  padding: 0;
}

@font-face {
  font-family: 'channel';
  src: url('../fonts/channel-webfont.eot');
  src: url('../fonts/channel-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/channel-webfont.woff') format('woff'),
       url('../fonts/channel-webfont.ttf') format('truetype'),
       url('../fonts/channel-webfont.svg#channel_left-slantedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4 {
  color: #FD28DB;
  font-family: channel, Helvetica, Arial;
  line-height: 55px;
}

p, li {
  font-family: Helvetica, Arial;
  color: #523916;
}

a {
  color: #DD1CDD;
}

a:hover {
  color: #9C2D9C;
}

.navbar .nav.pull-right {
  float: right;
  margin: 0;
}

.navbar .nav > li {
  float: left;
  padding: 5px;
}

.navbar-transparent {
  position: relative;
/*  position: absolute;
  right: 20px;*/
  margin-top: 20px;
  margin-bottom: 0;
}

.navbar .nav > .active > a {
  color: #555;
  text-decoration: none;
  background-color: #FEF2FF;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  color: #DD1CDD;
  background-color: #FEF2FF;
}

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #FAFAFA;
  background-image: -moz-linear-gradient(top,white,#F8C4F4);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(#F8C4F4));
  background-image: -webkit-linear-gradient(top,white,#F8C4F4);
  background-image: -o-linear-gradient(top,white,#F8C4F4);
  background-image: linear-gradient(to bottom,white,#F8C4F4);
  background-repeat: repeat-x;
  border: 1px solid #D4D4D4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#F8C4F4',GradientType=0);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.tagline {
  margin: 80px 10px 0 0;
  font-size: 24px;
  color: #D626D0;
  line-height: 45px;
}

.depth {
    display: block;
    padding: 10px 0;
    position: relative;
}

.depth:before, .depth:after {
    content: attr(title);
    padding: 10px 0;
    color: rgba(255,255,255,.3);
    position: absolute;
}

.depth:before { top: 1px; left: 1px }
.depth:after  { top: 2px; left: 2px }

.btn-primary {
  color: #ffffff;
  padding: 19px 24px;
  font-size: 24px;
  font-weight: 200;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #CC00C4;
  *background-color: #CC00BC;
  background-image: -moz-linear-gradient(top, #FF74F4, #A700D1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF74F4), to(#A700D1));
  background-image: -webkit-linear-gradient(top, #FF74F4, #A700D1);
  background-image: -webkit-linear-gradient(top, #FF74F4, #A700D1)
  background-image: linear-gradient(to bottom, #FF74F4, #A700D1);
  background-repeat: repeat-x;
  border-color: #CC00C4 #CC00C4 #CC00BC;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF74F4', endColorstr='#A700D1', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #A700D1;
  *background-color: #A700D1;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}

p.button {
  text-align: center;
}

code {
  color: #FF2FDE;
}

pre {
  white-space: nowrap;
  overflow-x: scroll;
}

#docs .row {
  margin: 10px 0 0;
}

#docs h1, #docs h2, #docs h3, #docs h4 {
  margin: 20px 0 0 10px;
}

hr {
  margin: 10px 0;
}

li.no-bullet {
  list-style: none;
  margin: 20px 0 20px 140px;
  font-weight: bold;
  font-size: 28px;
  color: #FA65E8;
}

header, footer {
  background-image: url(../img/pink_stripe.png);
  /*background-image: url('../img/low_contrast_linen.png');*/
  background-repeat: repeat;
}

header.container-fluid {
  margin: 49px 0 20px 0;
  -moz-box-shadow:    0 5px 10px -6px #111;
  -webkit-box-shadow: 0 5px 10px -6px #111;
  box-shadow:         0 5px 10px -6px #111;
}

footer {
  font-size: 16px;
  width: 100%;
  -moz-box-shadow:    0 0 10px -1px #111;
  -webkit-box-shadow: 0 0 10px -1px #111;
  box-shadow:         0 0 10px -1px #111;
}

footer .container-fluid {
  padding: 10px 10px 0;
}

#screencast {
  padding: 30px 5%;
  margin-bottom: 10px;
  background-color: whiteSmoke;
  border-top: 1px solid white;
  border-bottom: 1px solid #DDD;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow:    inset 0 0 6px #111;
  -webkit-box-shadow: inset 0 0 6px #111;
  box-shadow:         inset 0 0 6px #111;
}

span.bold {
  font-weight: bold;
  font-size: 18px;
  color: #FA65E8;
}

.social-buttons {
  list-style: none;
  text-align: center;
}

ul.social-buttons {
  padding: 0;
  margin: auto;
}

.social-buttons li {
  display: inline-block;
  /*padding: 5px 0;*/
  line-height: 1;
}

@media (max-width: 979px){
  .navbar-fixed-top {
    margin: 0;
    position: fixed;
  }

  .container-fluid {
    margin-right: 5px;
    margin-left: 5px;
  }

  #docs h3 {
    margin-left: 10px;
  }
}

@media (max-width: 979px){
  .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding: 0;
  }
}

@media (max-width: 767px){
  header.container-fluid {
    margin: 49px 0 10px 0;
  }

  footer p.pull-right {
    float: left;
  }

  .tagline {
    margin: -20px 0 0 20px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {

  .social-buttons li {
    margin-left: -15px;
    margin-right: 0;
  }

  .social-buttons li:first-child {
    margin-left: 2px;
  }

  .social-buttons li:last-child {
    margin-right: 2px;
  }
}